* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: oswald;
}

html {
  scroll-behavior: smooth;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 125px 30px;
  }
}
